def result = []
def region = "{{ aws_region }}"
def filter_key = "Name"
def filter_value = "{{ vpc_name }}-{{ deployment_host }}-*"

def command = "aws ec2 describe-instances --region=${region} --filters Name=tag:${filter_key},Values=${filter_value} Name=instance-state-name,Values=running --query Reservations[*].Instances[*].[Tags[?Key==`Name`].Value] --output text"
command.execute().text.eachLine { result.add(it.replaceAll('-','_')) }
if (result?.empty) {
	return ['No Server Found']
} else {
	return result
}
