AUTO_TEST_DIR=$WORKSPACE/postmedia-automated-testing
APP_DIR=${SITE_NAME}-smoketest
TEST_CONFIG="tests/acceptance.suite.yml"
HEADLESS_CONFIG="/var/lib/jenkins/chrome_headless.config"
testUrl=" url: https:\/\/"$SITE_NAME"-smoketest.{{ vpc_name }}.{{ route53_top_zone }}\/"

cd $AUTO_TEST_DIR/$APP_DIR
chmod a+w $TEST_CONFIG
cp -f $HEADLESS_CONFIG ./.

#Replace the original url with testing url
sed -i "s/[^#]url.*/$testUrl/" $TEST_CONFIG

#Add lines for headless chrome browser
sed -i '/browser: chrome.*/r chrome_headless.config' $TEST_CONFIG

rm -f chrome_headless.config

#Clean the output file in test/_output
chmod -R a+w tests/_output
rm -rf tests/_output/*

#Run Acceptance test
codecept run acceptance
exit_status=$?

JENKINS_URL="https://jenkins.{{ vpc_name }}.{{ route53_top_zone }}"
JOB_NAME="Cleanup_Smoketest"

curl -X POST $JENKINS_URL/job/Delivery_Pipeline_Jobs/job/$JOB_NAME/build \
--user $JENKINS_CLI_CREDS \
--data-urlencode json='{"parameter": [{"name":"SITE_NAME", "value":"'$SITE_NAME'"}, {"name":"GIT_REPO_NAME", "value":"'$GIT_REPO_NAME'"}]}'


if [ $exit_status != 0 ]; then
	echo "Smoketets failed for Artifact ${ARTIFACT_NAME}"

    S3_OPTIONS="--region {{ aws_region }} --acl bucket-owner-full-control --sse AES256"
    aws s3 mv s3://{{ jenkins.artifact_s3_bucket }}/wordpress-releases/$ARTIFACT_NAME s3://{{ jenkins.artifact_s3_bucket }}/failed-artifacts/$ARTIFACT_NAME $S3_OPTIONS

    title="Smoketets failed for Artifact ${ARTIFACT_NAME}"
    text="Artifact Access URL: https://s3.{{ aws_region }}.amazonaws.com/{{ jenkins.artifact_s3_bucket }}/failed-artifacts/${ARTIFACT_NAME}"
    slack_message_color="danger"
    remark="None"

    `/usr/bin/python /opt/scripts/slack_notifier.py "$title" "$text" "$repo_name" "$GIT_REPO_NAME" "$remark" "$slack_message_color"`
    exit 1
fi


