#!/bin/bash
set +x -e

STAGE_JENKINS_URL="https://jenkins.{{ jenkins.remote_job_trigger.server_name }}.{{ route53_top_zone }}"
JOB_NAME={{ jenkins.remote_job_trigger.job_name }}
USERNAME={{ jenkins.remote_job_trigger.user_name }}
TOKEN={{ jenkins.remote_job_trigger.api_token }}

curl -X POST $STAGE_JENKINS_URL/job/$JOB_NAME/build \
--user $USERNAME:$TOKEN \
--data-urlencode json='{"parameter": [{"name":"INSTANCE_GROUP", "value":"'$INSTANCE_GROUP'"},
						{"name":"ARTIFACT_NAME", "value":"'$ARTIFACT_NAME'"},
                        {"name":"ARTIFACT_VERSION", "value":"'$ARTIFACT_VERSION'"},
                        {"name":"GIT_PR_TITLE", "value":"'"$GIT_PR_TITLE"'"},
                        {"name":"GIT_REPO_NAME", "value":"'$GIT_REPO_NAME'"},
                        {"name":"QA_SIGN_OFF_COMMENT", "value":"'"$QA_SIGN_OFF_COMMENT"'"}]}'
